{% extends 'base.html' %}
{% block title %}Editar Producto{% endblock %}
{% block content %}

<div class ="container mt-4">

    <h2 class="fw-bold mb-4">Editar Producto</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}

                <button class="btn btn-primary mt-3">Guardar Cambios</button>
                <a href="{% url 'lista_productos' %}" class="btn btn-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>

</div>  

{% endblock %}
