{% extends 'base.html' %}
{% block title %}Eliminar Producto{% endblock %}
{% block content %}

<div class ="container mt-4">

    <h2 class="fw-bold mb-3">¿Eliminar "{{ producto.nombre }}"?</h2>

    <div class="alert alert-danger">
        Esta acción no se puede deshacer.
    </div>

    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
{% endblock %}
