{% extends 'base.html' %}
{% block title %}Sesión cerrada{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">

        <div class="card shadow-sm text-center p-4">

            <h2 class="fw-bold mb-3">Sesión cerrada</h2>
            <p class="text-muted">Has cerrado sesión correctamente.</p>

            <a href="{% url 'login' %}" class="btn btn-primary mt-3">
                Iniciar sesión nuevamente
            </a>

        </div>

    </div>
</div>

{% endblock %}
