{% extends 'base.html' %}
{% block title %}Registrarse{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">

        <div class="card shadow-sm">
            <div class="card-body">

                <h3 class="fw-bold mb-3 text-center">Crear una cuenta</h3>

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Nombre de usuario</label>
                        <input type="text" name="username" class="form-control" required placeholder="Ej: ponysalvaje123">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="email" name="email" class="form-control" required placeholder="tu@email.com">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" name="password1" class="form-control" required placeholder="Mínimo 8 caracteres">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Repetir contraseña</label>
                        <input type="password" name="password2" class="form-control" required placeholder="Repite tu contraseña">
                    </div>

                    <button class="btn btn-success w-100 mt-2">Registrarme</button>
                </form>

                <p class="mt-3 text-center">
                    ¿Ya tienes cuenta?
                    <a href="{% url 'login' %}">Inicia sesión</a>
                </p>

            </div>
        </div>

    </div>
</div>

{% endblock %}
